{{response.files.append(URL('static', 'plugins/jquery.chained.js'))}}

{{extend 'layout.html'}}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Processo : {{=nome_processo}}</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a id="addEtapa">Adicionar Etapa</a>
              </li>
              <li><a href="#">Gerar Relatório</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-8">
            <p class="text-center">
              <strong>Candidatos</strong>
            </p>
            <div class="chart">

              <canvas id="candidatosChart" style="height: 100%; width: 636px;" width="636" height="400"></canvas>
            </div>
          </div>
          <div class="col-md-4">
            <p class="text-center">
              <strong>Etapas</strong>
            </p>
            <ul id="timeline" class="timeline" style="max-height: 600px; overflow: auto">

              <!-- timeline time label -->
              {{for etapa in etapas:}}
              <li class="time-label">
                <span class="bg-{{=etapa['cor']}}">
                  {{=etapa["data"]}}
                </span>
              </li>
              <!-- /.timeline-label -->

              <!-- timeline item -->
              <li>
                <!-- timeline icon -->
                <i class='fa {{=etapa["icone"]}} bg-{{=etapa["cor"]}}'></i>
                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> {{=etapa["hora"]}}</span>

                  <h3 class="timeline-header"><a href="#">{{=etapa["nome"]}}</a></h3>

                  <div class="timeline-body">
                    {{=etapa['informacoes']}}

                  </div>

                  <div class="timeline-footer">
                    <a href="{{=URL('processo','etapa',vars=dict(id_processo=etapa['id_processo'],id_etapa=etapa['id']))}}" class="btn btn-primary btn-flat">Ver</a>
                    
                  </div>
                </div>
              </li>
              {{pass}}
              <!-- END timeline item -->
            </ul>



          </div>

        </div>
        <!-- /.col -->
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Candidatos</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a id="addEtapa">Adicionar Etapa</a>
              </li>
              <li><a href="#">Gerar Relatório</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="candidados">
          <ul class="products-list product-list-in-box">
            {{for candidato in candidatos:}}

            <li class="item">
              <div class="product-img">
                <img src="{{=candidato['foto']}}" alt=" {{=candidato['nome']}}">
              </div>
              <div class="product-info">
                <a href="javascript:void(0)" class="product-title">{{=candidato['nome'] }}</a>
                <p class="product-description">

                </p>
              </div>
            </li>
            {{pass}}
            <!-- /.item -->

          </ul>
        </div>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>
</div>
{{include 'layout_modal.html'}}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">

  jQuery("#addEtapa").click(function () {
    jQuery("#modalAddEtapa").modal();

  })

  var ctx = document.getElementById('candidatosChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        {{ i = len(candidatos) }}
        {{ for c in candidatos: }}
          "{{=c["nome"]}}"
          {{ if i > 1:}}
              ,
          {{pass}}
          {{ i = i - 1 }}
        {{pass}}
         ],
  datasets: [{
    label: 'Pontuação',
    data: [{{ for c in candidatos: }} {{=c["pontos"]+"," }} {{ pass }}],
    borderWidth: 0
      }]
    },
  options: {
    events: ['click'],
      scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
  });


  $(document).ready(function () {

    $('#service_request_request_priority option').each(function () {
      if (this.innerHTML.indexOf("*") != -1) {
        var catclass = this.innerHTML.split("*", 2);
        $(this).addClass(catclass[0]);
        this.text = catclass[1];
      }
    })

    $("#service_request_request_priority").chained("#service_request_request_type");

    $('#service_request_request_subcategory option').each(function () {
      if (this.innerHTML.indexOf("*") != -1) {
        var catclass = this.innerHTML.split("*", 2);
        $(this).addClass(catclass[0]);
        this.text = catclass[1];
      }
    })

    $("#service_request_request_subcategory").chained("#service_request_request_category");

  });
</script>