
<div class="modal fade" id="modalAddEtapa" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span></button>
              <h4 class="modal-title">{{=modal_form[0]['nome']}}</h4>
            </div>
            <div class="modal-body">
              {{=modal_form[0]['form']}}
            </div>
            <div class="modal-footer">
             
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<script>
   jQuery("#modalAddEtapa").submit(function() {
    ajax("{{=URL('etapas')}}",
         ['titulo','informacoes','data','tipo','id_processo'], ":eval");
    jQuery('#modalAddEtapa').modal('hide')
    return false;
  });
</script>
